<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Blog</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h2 class="main">Update Blog</h2>
    <div class="blog">
        <h3 class="user">@User : <%= blog.user %></h3>
        <form action="http://localhost:3000/blogs/<%= blog.id %>?_method=PATCH" method="post">
            <label for="content"><b>Content : </b></label>
            <textarea name="content" 
                id="content" class="content" placeholder="<%= blog.content %>">
                <%= blog.content %>
            </textarea>
            <button>Update</button>
        </form>
    </div>
</body>
</html>